{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <!-- top bar -->
	<div class="navbar">
      <a href="{% url 'home' %}">
        <img class="logo" src="{% static "assets/img/MGDB_text_icon.png" %}" style="margin-bottom:-8px; margin-top:-10px">
      </a>
      <div style="align-items: center;">
        <a href="{% url 'search' %}">Search</a>
        <div class="dropdown">
          <button class="dropbtn">
            Catalogue
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'ranking' %}">Ranking</a>
            <a href="{% url 'category' %}">Categories</a>
          </div>
        </div>
      </div>
    </div>

	<!-- content -->

    {% for app in detail %}
    <!-- app title -->
    <div class="col-12 games-display-bg">
        <div class="games-display-bg">
            <div class="col-2">
                <div class="games-display" style="height: 250px;"></div>
            </div>
            <div class="col-2">
                <div class="games-display">
                    <img src="{{ app.imgUrl }}">
                </div>
            </div>
            <div class="col-6">
                <div class="games-display" style="height: 250px;">
                    <div class="apptitle">
                        <p>{{ app.name }}</p>
                    </div>
                    <div class="appsubtitle" style="color:rgb(238,238,238)">
                        <p>{{ app.developer }}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="games-display" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <!-- app details  -->
    <div class = "col-2"></div>

    <div class="col-5">
    <div class="games-display2">

        <div class="apptitle2">
            Description
        </div>
        <div class="appdetails">
            <pre>{{ app.description }}</pre>
        </div>
        <br>
        <div class="appsubtitle">
            <p>Categories: </p>
        </div>
        <div class="appminordetails">
            {{ app.category.name }}
        </div>
    </div>
    <br>
    <div class="image-wrapper">
			<div id="slider4" class="text-center">
        {% for image in app.samplepic_set.all %}
          <div class="image-slide">
            <img src="{{ image.imgUrl }}">
          </div>
        {% endfor %}
			</div>
		</div>
    <br>

</div>
    {% endfor %}

	<div class="col-3">
		<div class="apptitle" style="padding-left: 20px;color:rgb(238,238,238)">
			<p>Related apps</p>
		</div>
        {% for app in related %}
            <div class="col-4"><a href="{% url 'app_detail' name=app.name category=app.category.name %}">
                  <img src="{{ app.imgUrl }}" style="width: 90%; padding-left:20px;padding-top:10px;">
              </a>
            </div>
        {% endfor %}
	</div>
	
	<div class="col-12">
      <div class="external-link" style="padding-bottom: 40px;">
        <br><br>
        <header>External Links</header>
        <br><br>
          <wrapper>
              <a href="https://play.google.com/store?hl=en">Play Store</a>
              <a href="https://www.apkmirror.com/">APK Mirror</a>
              <a href="https://www.apple.com/ios/app-store/">Apple App Store</a>
              <a href="https://www.apple.com/th/apple-arcade/">Apple Arcade</a>
              </wrapper>
          <wrapper>
            <a>&nbsp;</a>
            <a>Ⓒ 2019 MGDB</a>
              <a>&nbsp;</a>
          </wrapper>
      </div>
    </div>

</body>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
</script>

</html>