{% load static %}
{% load operation %}
<html>
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
<body>
    <!-- top bar -->
     <div class="navbar">
      <a href="{% url 'home' %}">
        <img class="logo" src="{% static "assets/img/MGDB_text_icon.png" %}" style="margin-bottom:-8px; margin-top:-10px">
      </a>
      <div style="align-items: center;">
        <a href="{% url 'search' %}">Search</a>
        <div class="dropdown">
          <button class="dropbtn">
            Catalogue
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'ranking' %}">Ranking</a>
            <a href="{% url 'category' %}">Categories</a>
          </div>
        </div>

      </div>
    </div>


    <div class="col-12">
        <div class="ranking-page-title">
            <header>Top Games of All Time<br><Br>
            </header>
        </div>
    <div class="col-2"></div>
    <div class="col-8">
        <div class="ranking-page">
            {% for row in table %}
                {% if row.rank|modulo:5 == 0 %}
                    <display>
                {% endif %}
                <game>
                    <a href="{% url 'app_detail' name=row.app.name category=row.app.category.name %}">
                        <img src="{{ row.app.imgUrl }}"><br>
                        {{ row.app.name }}
                    </a>
                </game>
                {% if row.rank|modulo_plusone:5 and row.rank != 0 %}
                    </display>
                {% endif %}
            {% endfor %}
            
            <br><br>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
    <br>

    <div class="col-12">
      <div class="external-link" style="padding-bottom: 40px;">
        <br><br>
        <header>External Links</header>
        <br><br>
          <wrapper>
              <a href="https://play.google.com/store?hl=en">Play Store</a>
              <a href="https://www.apkmirror.com/">APK Mirror</a>
              <a href="https://www.apple.com/ios/app-store/">Apple App Store</a>
              <a href="https://www.apple.com/th/apple-arcade/">Apple Arcade</a>
              </wrapper>
          <wrapper>
            <a>&nbsp;</a>
            <a>Ⓒ 2019 MGDB</a>
              <a>&nbsp;</a>
          </wrapper>
      </div>
    </div>
</body>
</html>